[Desktop Entry]
Type=Application
Version=1.1
Name=Magnet
GenericName=Magnet opener
NoDisplay=true
Comment=Open a magnet link in transmission
TryExec=trdaemonadd.sh
Exec=trdaemonadd.sh %U
Icon=transmission
Terminal=true
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
Categories=Network;FileTransfer;P2P
Keywords=magnet;file;opener;
