[Desktop Entry]
Type=Application
Version=1.1
Name=MPD
GenericName=Music Player Daemon
Comment=Start the music daemon with mpris support
TryExec=/home/wegeee/bin/mpddris.sh
Exec=/home/wegeee/bin/mpddris.sh
Keywords=music;server;mpris;
