[Desktop Entry]
Type=Application
Version=1.1
Name=Nano
GenericName=Nano text editor
Comment=Simple text editor
TryExec=/usr/bin/nano
Exec=/usr/bin/uxterm -e nano %U
Terminal=true
Keywords=editor;
