"*":
  core:
    audioBeep: false
    autoHideMenuBar: true
    automaticallyUpdate: false
    closeDeletedFileTabs: true
    disabledPackages: [
      "autoflow"
      "exception-reporting"
      "language-clojure"
      "language-mustache"
      "language-objective-c"
      "language-ruby"
      "language-ruby-on-rails"
      "language-toml"
      "metrics"
      "timecop"
      "welcome"
    ]
    projectHome: "/home/wegeee/projs"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontFamily: "Anonymous"
    preferredLineLength: 100
  "exception-reporting":
    userId: "2c0a0cd1-e389-48bb-b730-668745b0ee07"
