UXTerm*termName: xterm-256color
UXTerm*renderFont: true
UXTerm*forcePackedFont: true
UXTerm*faceName: Anonymous
UXTerm*faceSize: 12
! VT Font Menu: Unreadable
UXTerm*faceSize1: 8
! VT font menu: Tiny
UXTerm*faceSize2: 10
! VT font menu: Medium
UXTerm*faceSize3: 12
! VT font menu: Large
UXTerm*faceSize4: 16
! VT font menu: Huge
UXTerm*faceSize5: 22

UXTerm*VT100.Translations: #override \
	Ctrl <Key> minus: smaller-vt-font() \n\
	Ctrl <Key> plus: larger-vt-font() \n\
	Ctrl <Key> 0: set-vt-font(d)
	Shift <KeyPress> Insert: insert-selection(CLIPBOARD) \n\
	Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
	Ctrl Shift <Key>C:    copy-selection(CLIPBOARD) \n\
	Ctrl <Btn1Up>: exec-formatted("xdg-open '%t'", PRIMARY)