holiday.fr-FR1.name=Jour de l'an
holiday.fr-FR1.date=01/01/2022
holiday.fr-FR3.name=Fête du premier mai
holiday.fr-FR3.date=01/05/2022
holiday.fr-FR4.name=Armistice 1945
holiday.fr-FR4.date=08/05/2022
holiday.fr-FR7.name=Fête nationale
holiday.fr-FR7.date=14/07/2022
holiday.fr-FR8.name=Assomption
holiday.fr-FR8.date=15/08/2022
holiday.fr-FR9.name=Toussaint
holiday.fr-FR9.date=01/11/2022
holiday.fr-FR10.name=Armistice 1918
holiday.fr-FR10.date=11/11/2022
holiday.fr-FR11.name=Noël
holiday.fr-FR11.date=25/12/2022
