holiday.fr-FR1.name=Jour de l'an
holiday.fr-FR1.date=20190101
holiday.fr-FR2.name=Lundi de Pâques
holiday.fr-FR2.date=20190422
holiday.fr-FR3.name=Fête du premier mai
holiday.fr-FR3.date=20190501
holiday.fr-FR4.name=Armistice 1945
holiday.fr-FR4.date=20190508
holiday.fr-FR5.name=Ascencion
holiday.fr-FR5.date=20190530
holiday.fr-FR6.name=Pentecôte
holiday.fr-FR6.date=20190610
holiday.fr-FR7.name=Fête nationale
holiday.fr-FR7.date=20190714
holiday.fr-FR8.name=Assomption
holiday.fr-FR8.date=20190815
holiday.fr-FR9.name=Toussaint
holiday.fr-FR9.date=20191101
holiday.fr-FR10.name=Armistice 1918
holiday.fr-FR10.date=20191111
holiday.fr-FR11.name=Noël
holiday.fr-FR11.date=20191225