# readline(3) configuration file
# Used by Bash and other CLI-interface programs to edit and interact with the command line
# https://ss64.com/bash/syntax-inputrc.html
# https://gerardnico.com/lang/bash/edition/bind

$include /etc/inputrc

# readline never rings the bell
set bell-style none
# Number of possible completions
set completion-query-items 50
# Single tab: partially complete the word and show all possible completions if it is still ambiguous
set show-all-if-ambiguous on
# Color files by types
set colored-stats On
# Append char to indicate type
set visible-stats On
# Mark symlinked directories
set mark-symlinked-directories On
# Color the common prefix
set colored-completion-prefix On
# Color the common prefix in menu-complete
set menu-complete-display-prefix On
# Maximum number of characters to be the common prefix
set completion-prefix-display-length 5

# Bind keys
#"\e[A": history-search-backward # Up arrow: list only past commands that match the current input
#"\e[B": history-search-forward  # Down arrow: list only past commands that match the current input
#"\es": "\C-asudo \C-e"          # Alt+S: prefixes the line with sudo
